html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #606266;
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance:textfield;
}

#app {
  height: 100%;
}

.el-table td, .el-table th {
  padding: 9px 0!important;
}

.el-table th, .el-table .el-table__fixed-right-patch{
  background-color: #f5f7fa!important;
}

.el-table__body .el-form-item {
  margin-bottom: 15px;
}